*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    border-radius: 10px;
}
.icon{
    border-radius: 0px;
}
button{
    display: flex;
    cursor: pointer;
    padding:10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
button:hover{
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.nav-bar{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    width: auto;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.menu-toggle a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.menu-toggle a:hover{
    background-color: #9b9b9b;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}


.button-holder{
    display: flex;
    flex-direction: row;
    gap:20px
}
#navbar{
    padding: 0px 10px 0px 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-middle{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
}


.home-left{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#home-right {
    transform: scaleX(-1);
}

.home-left .i1{
    margin-left: 0px;
}
.home-left .i2{
    margin-left: 50px;
}
.home-left .i3{
    margin-left: 100px;
}
#home-right .i4{
    margin-right: 0px;
}
#home-right .i5{
    margin-right: 50px;
}
#home-right .i6{
    margin-right: 100px;
}



#home-title{
    line-height: 1.3;
    letter-spacing: -1px;
    font-size: 48px;
    width: 650px;
    color: black;
    margin: 0;
}

#home-description{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    color: black;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.movie-container-row{
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.movie-card{
    display: flex;
    flex-direction: column;
    width: 390px;
    height:auto;
    background-color: white;
    border-radius: 20px;
    gap: 0px;
    border: 2px solid rgb(207, 207, 207);
}
.movie-card img{
    border-radius: 10px 10px 0px 0px ;
}
.movie-card:hover{
    transform: scale(1.05);
    transition: 1s;
    border: 2px solid #007BFF;
    box-shadow: 0 0 5px #b5d5f8;
}
.movie-info{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.row-struct{
    padding:5px;
    display: flex;
    width:auto;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.story{
    width:320px;
    line-height: 1.3;
}
.Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
}
.Cart:hover{
    background-color:black;
    color: white;
}

.Shortmovie-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sortmovie{
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 5px;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 10px;
}
.sortmovie:hover{
    background-color: #f0f8ff;
    border: 2px solid #007BFF;
    box-shadow: 0 0 5px #b5d5f8;
}
.short-movie-title{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
footer{
    padding: 20px;
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    background-color: #007BFF;
    height: auto;
    width: auto;
}
.Price-sections{
    height: 100vh;
    background-color: green;
}
.social-media{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-left: 40px;
}
#footer-link{
    padding-right: 40px;
}